<section class="container-lobby-page">
  <article class="info">
    <h3>Task Management</h3>
    <h4>Welcome to Active Time</h4>
    <h5>{{ getUser() }}</h5>
    <app-button-logout></app-button-logout>
  </article>
  <article class="buttons">
    <h5>What do you wanna do?</h5>
    <button type="button">Create Task</button>
    <button type="button">List Tasks</button>
    <button type="button">Update Tasks</button>
    <button type="button">Delete Tasks</button>
  </article>
</section>
<hr>
<section class="info-tasks">
  <article class="info">
    <h3>Tasks Report</h3>
  </article>
  <article class="data">
    <div class="info-data data-1">
      <h6>Tasks created</h6>
      <p>{{ data_1 }}</p>
    </div>
    <div class="info-data data-2">
      <h6>Tasks completed</h6>
      <p>{{ data_2 }}</p>
    </div>
    <div class="info-data data-3">
      <h6>Tasks deleted</h6>
      <p>{{ data_3 }}</p>
    </div>
  </article>
</section>
