.title-list-tasks {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-list-tasks h3 {
  font-size: 45px;
  font-family: 'Sora-Bold', sans-serif;
  color: #6680FF;
  text-decoration: underline;
}

#list-tasks-container {
  height: auto;
  width: 90%;
  margin: 0 auto;
}

#list-tasks-container .tasks {
  height: auto;
}

#list-tasks-container .tasks .title h4 {
  text-align: center;
  font-family: 'Sora-SemiBold', sans-serif;
  font-size: 28px;
}

#list-tasks-container .completed {
  margin-bottom: 80px;
}

#list-tasks-container .completed .title h4 {
  color: #00B327;
}

#list-tasks-container .no-completed .title h4 {
  color: #ffa500;
}

#list-tasks-container hr {
  border: 1px solid #fff;
  margin-top: 80px;
  margin-bottom: 30px;
}

#list-tasks-container .tasks-box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  flex-wrap: wrap;
  align-items: center;
  max-height: 700px;
  overflow: hidden;
  overflow-y: auto;
  padding-top: 20px;
}

#list-tasks-container .tasks-box .task {
  width: 350px;
  height: min-content;
  border: 2px solid #ccc;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  padding: 15px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

#list-tasks-container .tasks-box .task h2 {
  color: #fff;
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
  font-family: 'Sora-SemiBold', sans-serif;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

#list-tasks-container .tasks-box .task>p {
  width: 90%;
  margin: 0 auto;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  color: #ccc;
  font-family: 'Sora-Regular', sans-serif;
  margin-top: 10px;
  -ms-hyphens: auto;
  hyphens: auto;
}

#list-tasks-container .tasks-box .task .priority,
#list-tasks-container .tasks-box .task .start-date,
#list-tasks-container .tasks-box .task .end-date {
  display: flex;
  color: #fff;
  font-family: 'Sora-SemiBold', sans-serif;
  align-items: center;
}

#list-tasks-container .tasks-box .task .priority p,
#list-tasks-container .tasks-box .task .start-date p,
#list-tasks-container .tasks-box .task .end-date p {
  margin-right: 5px;
  margin-bottom: 0;
}

#list-tasks-container .tasks-box .task .priority span,
#list-tasks-container .tasks-box .task .start-date span,
#list-tasks-container .tasks-box .task .end-date span {
  padding: 4px 10px 4px 10px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
}

#list-tasks-container .tasks-box .task .priority .Medium {
  background-color: rgb(255, 166, 0);
}

#list-tasks-container .tasks-box .task .priority .High {
  background-color: rgb(255, 0, 0);
}

#list-tasks-container .tasks-box .task .priority .Low {
  background-color: rgb(0, 128, 0);
}

#list-tasks-container .tasks-box .task .start-date span {
  background-color: rgba(20, 92, 20, 0.634);
}

#list-tasks-container .tasks-box .task .end-date span {
  background-color: rgba(124, 22, 22, 0.69);
}

#list-tasks-container .tasks-box .task h4 {
  text-align: center;
  color: rgb(255, 166, 0);
}

#list-tasks-container .tasks-box .priority,
#list-tasks-container .tasks-box .start-date,
#list-tasks-container .tasks-box .end-date {
  margin-bottom: 15px;
}

#list-tasks-container .no-completed .tasks-box .task:hover {
  border: 2px solid rgb(255, 166, 0);
  -webkit-transform: scale(1.02, 1.02);
  -moz-transform: scale(1.02, 1.02);
  -ms-transform: scale(1.02, 1.02);
  -o-transform: scale(1.02, 1.02);
  transform: scale(1.02, 1.02);
}

#list-tasks-container .completed .tasks-box .task:hover {
  border: 2px solid rgb(0, 128, 0);
  -webkit-transform: scale(1.02, 1.02);
  -moz-transform: scale(1.02, 1.02);
  -ms-transform: scale(1.02, 1.02);
  -o-transform: scale(1.02, 1.02);
  transform: scale(1.02, 1.02);
}

#tasks-pending,
#tasks-completed {
  width: 100%;
  height: auto;
}

#tasks-pending p,
#tasks-completed p {
  text-align: center;
  font-size: 25px;
  font-family: 'Sora-Regular', sans-serif;
  color: #fff;
}

#tasks-pending img,
#tasks-completed img {
  display: block;
  width: 200px;
  margin: 0 auto;
}

#tasks-pending button,
#tasks-completed button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.orange {
  color: rgb(255, 166, 0);
}

.green {
  color: #00B327;
}

#button-back {
  position: fixed;
  top: 20px;
  right: 20px;
}

@media(max-width: 650px) {
  .title-list-tasks {
    height: 80px;
    margin-top: 40px;
  }
}

@media(max-width: 550px) {

  #tasks-pending p,
  #tasks-completed p {
    font-size: 20px;
  }
}

@media(max-width: 450px) {

  #tasks-pending p,
  #tasks-completed p {
    font-size: 18px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
  }
}

@media(max-width: 400px) {
  .title-list-tasks h3 {
    font-size: 35px;
  }

  #list-tasks-container .completed .title h4 {
    font-size: 27px;
  }

  #list-tasks-container .no-completed .title h4 {
    font-size: 27px;
  }

}