.title-list-tasks {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-list-tasks h3 {
  font-size: 45px;
  font-family: 'Sora-Bold', sans-serif;
  color: #6680FF;
  text-decoration: underline;
}
#list-tasks-container {
  height: auto;
  width: 90%;
  margin: 0 auto;
}
#list-tasks-container .tasks {
  height: auto;
}
#list-tasks-container .tasks .title h4 {
  text-align: start;
  font-family: 'Sora-SemiBold', sans-serif;
  font-size: 28px;
}
#list-tasks-container .completed .title h4 {
  color: #00B327;
}
#list-tasks-container .no-completed .title h4 {
  color: #ffa500;
}
#list-tasks-container hr {
  border: 1px solid #fff;
}
#list-tasks-container .tasks-box {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  flex-wrap: wrap;
}
#list-tasks-container .tasks-box .task {
  width: 350px;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 12px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 15px;
  transition: all 300ms;
}

#list-tasks-container .tasks-box .task h2 {
  color: #fff;
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
  font-family: 'Sora-SemiBold', sans-serif;
  transition: all 300ms;
}

#list-tasks-container .tasks-box .task > p {
  color: #ccc;
  font-family: 'Sora-Regular', sans-serif;
  margin-top: 10px;
}

#list-tasks-container .tasks-box .task .priority,
#list-tasks-container .tasks-box .task .start-date,
#list-tasks-container .tasks-box .task .end-date {
  display: flex;
  color: #fff;
  font-family: 'Sora-SemiBold', sans-serif;
  align-items: center;
}

#list-tasks-container .tasks-box .task .priority p,
#list-tasks-container .tasks-box .task .start-date p,
#list-tasks-container .tasks-box .task .end-date p{
  margin-right: 5px;
  margin-bottom: 0;
}

#list-tasks-container .tasks-box .task .priority span,
#list-tasks-container .tasks-box .task .start-date span,
#list-tasks-container .tasks-box .task .end-date span{
  border-radius: 12px;
  padding: 4px 10px 4px 10px;
}

#list-tasks-container .tasks-box .task .priority .Medium {
  background-color: orange;
}

#list-tasks-container .tasks-box .task .priority .High {
  background-color: red;
}

#list-tasks-container .tasks-box .task .priority .Low {
  background-color: green;
}

#list-tasks-container .tasks-box .task .start-date span {
  background-color: green;
}

#list-tasks-container .tasks-box .task .end-date span {
  background-color: red;
}

#list-tasks-container .tasks-box .task h4 {
  text-align: center;
  color: orange;
}

#list-tasks-container .tasks-box .priority,
#list-tasks-container .tasks-box .start-date,
#list-tasks-container .tasks-box .end-date {
  margin-bottom: 15px;
}

#list-tasks-container .no-completed .tasks-box .task:hover {
  transform: scale(1.02, 1.02);
  border: 2px solid orange;
}

#list-tasks-container .completed .tasks-box .task:hover {
  transform: scale(1.02, 1.02);
  border: 2px solid green;
}
