.title-list-tasks {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-list-tasks h3 {
  font-size: 45px;
  font-family: 'Sora-Bold', sans-serif;
  color: #6680FF;
  text-decoration: underline;
}
#list-tasks-container {
  height: auto;
  width: 90%;
  margin: 0 auto;
}
#list-tasks-container .tasks {
  height: auto;
}
#list-tasks-container .tasks .title h4 {
  text-align: start;
  font-family: 'Sora-SemiBold', sans-serif;
  font-size: 28px;
}

#list-tasks-container .completed {
  margin-bottom: 80px;
}

#list-tasks-container .completed .title h4 {
  color: #00B327;
}
#list-tasks-container .no-completed .title h4 {
  color: #ffa500;
}
#list-tasks-container hr {
  border: 1px solid #fff;
  margin-top: 80px;
  margin-bottom: 30px;
}
#list-tasks-container .tasks-box {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  flex-wrap: wrap;
}
#list-tasks-container .tasks-box .task {
  width: 350px;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 12px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 15px;
  transition: all 300ms;
}

#list-tasks-container .tasks-box .task h2 {
  color: #fff;
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
  font-family: 'Sora-SemiBold', sans-serif;
  transition: all 300ms;
}

#list-tasks-container .tasks-box .task > p {
  color: #ccc;
  font-family: 'Sora-Regular', sans-serif;
  margin-top: 10px;
}

#list-tasks-container .tasks-box .task .priority,
#list-tasks-container .tasks-box .task .start-date,
#list-tasks-container .tasks-box .task .end-date {
  display: flex;
  color: #fff;
  font-family: 'Sora-SemiBold', sans-serif;
  align-items: center;
}

#list-tasks-container .tasks-box .task .priority p,
#list-tasks-container .tasks-box .task .start-date p,
#list-tasks-container .tasks-box .task .end-date p{
  margin-right: 5px;
  margin-bottom: 0;
}

#list-tasks-container .tasks-box .task .priority span,
#list-tasks-container .tasks-box .task .start-date span,
#list-tasks-container .tasks-box .task .end-date span{
  border-radius: 12px;
  padding: 4px 10px 4px 10px;
}

#list-tasks-container .tasks-box .task .priority .Medium {
  background-color: rgb(255, 166, 0);
}

#list-tasks-container .tasks-box .task .priority .High {
  background-color: rgb(255, 0, 0);
}

#list-tasks-container .tasks-box .task .priority .Low {
  background-color: rgb(0, 128, 0);
}

#list-tasks-container .tasks-box .task .start-date span {
  background-color: rgba(20, 92, 20, 0.634);
}

#list-tasks-container .tasks-box .task .end-date span {
  background-color: rgba(124, 22, 22, 0.69);
}

#list-tasks-container .tasks-box .task h4 {
  text-align: center;
  color: orange;
}

#list-tasks-container .tasks-box .priority,
#list-tasks-container .tasks-box .start-date,
#list-tasks-container .tasks-box .end-date {
  margin-bottom: 15px;
}

#list-tasks-container .no-completed .tasks-box .task:hover {
  transform: scale(1.02, 1.02);
  border: 2px solid rgb(255, 166, 0);
}

#list-tasks-container .completed .tasks-box .task:hover {
  transform: scale(1.02, 1.02);
  border: 2px solid rgb(0, 128, 0);
}


.loading {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(3, 3, 3, 0.55);
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.loading .content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading .content i {
  text-align: center;
  font-size: 100px;
  color: rgb(255, 166, 0);
  animation: loading infinite 4s linear;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(720deg);
  }
}

#tasks-pending,
#tasks-completed {
  width: 100%;
  height: 300px;
}

#tasks-pending p,
#tasks-completed p {
  text-align: center;
  font-size: 25px;
  font-family: 'Sora-Regular', sans-serif;
  color: #fff;
}

#tasks-pending img,
#tasks-completed img {
  display: block;
  width: 200px;
  margin: 0px auto;
}

#tasks-pending button,
#tasks-completed button {
  display: block;
  margin: 0px auto;
  margin-top: 20px;
}

.orange {
  color: rgb(255, 166, 0);
}

.green {
  color: #00B327;
}

#button-back {
  position: fixed;
  top: 20px;
  right: 20px;
}