<section class="title-list-tasks">
  <h3>List Tasks</h3>
</section>
<section id="list-tasks-container">

  <div class="no-completed tasks">
    <div class="title">
      <h4>Pending</h4>
    </div>
    <div class="tasks-box">
      <div class="task">
        <!--Title -->
        <h2>Jugar League Of Legends.</h2>
        <!-- Description -->
        <p>Jugar League Of Legends at 5:30 pm.<p>
        <!-- Priority -->
        <div class="priority">
          <p>Priority: </p>
          <h6 class="Medium">Medium</h6>
        </div>
        <!-- Start date -->
        <div class="start-date">
          <p>Start</p>
          <span>2022-08-10</span>
        </div>
        <!-- End date -->
        <div class="end-date">
          <p>End</p>
          <span>2022-08-10</span>
        </div>
        <!-- Status -->
        <h4>Pending</h4>
      </div>

    </div>
  </div>
  <hr>
  <div class="completed tasks">
    <div class="title">
      <h4>Completed</h4>
    </div>

    <div class="tasks-box">

    </div>
  </div>
</section>