#navbar-home-page {
  position: fixed;
  width: 600px;
  height: 70px;
  bottom: 0;
  background-color: #000;
  left: 50%;
  margin-left: -300px;
  border-top: 2px solid #6680FF;
  border-left: 2px solid #6680FF;
  border-right: 2px solid #6680FF;
  z-index: 90;
  -webkit-border-radius: 20px 20px 0px 0px;
  -moz-border-radius: 20px 20px 0px 0px;
  -ms-border-radius: 20px 20px 0px 0px;
  -o-border-radius: 20px 20px 0px 0px;
  border-radius: 20px 20px 0px 0px;
  user-select: none;
}

#navbar-home-page ul {
  display: flex;
  list-style: none;
  color: #fff;
  justify-content: space-around;
  text-align: center;
  height: 100%;
  padding-left: 0;
}

#navbar-home-page ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}

#navbar-home-page ul li:hover {
  color: #4458bc;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

#navbar-home-page ul li p {
  font-family: 'Sora-Regular', sans-serif;
  font-size: 15px;
  margin-bottom: 2px;
}

#navbar-home-page ul li span {
  display: none;
  font-size: 7px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

#navbar-home-page ul .active span {
  display: block;
}

.active {
  color: #6680FF;
  font-weight: bold;
}

.active:hover {
  color: rgb(255, 166, 0);
}

/* Responsive */

@media(max-width: 620px) {
  #navbar-home-page {
    width: 100%;
    left: 0%;
    margin-left: 0;
  }

  #navbar-home-page ul li {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media(max-width: 420px) {
  #navbar-home-page ul li p {
    font-size: 13px;
  }
}

@media(max-width: 340px) {
  #navbar-home-page ul li p {
    font-size: 12px;
  }

  #navbar-home-page ul li {
    padding-left: 5px;
    padding-right: 5px;
  }
}