
<div class="container-register">

  <div class="box">

    <div class="title">
      <div class="points">
          <div class="point-red point"
               routerLink="/">
            <i class="fa-solid fa-x"></i>
          </div>
          <div class="point-yellow point"></div>
          <div class="point-green point"></div>
      </div>
      <p routerLink="/">Active Time</p>
    </div>

    <div class="content">
      <h3>Active Time - Register</h3>
      <!-- Form -->
      <form class="box-form"
            (ngSubmit)="register()"
            autocomplete="off"
            [formGroup]="myForm">
        <h5>Create a free account</h5>
        <!-- Username -->
        <input type="text"
               class="txt-username"
               formControlName="username"
               (keyup)="changeValueUsername()" required>
        <label class="lbl-username">Username</label>
        <span *ngIf="isInvalidCamp('username')">Your username has to be between 7 and 15 characters! 😏</span>
        <span *ngIf="isUserCreated">This username has been already created! 😳</span>
        <!-- Password -->
        <input type="password"
               class="txt-password"
               formControlName="password"
               (keyup)="changeValuePassword()" required>
        <label class="lbl-password">Password</label>
        <span *ngIf="isInvalidCamp('password')">Write a password between 7 and 15 characters! 🤐</span>

        <!-- Confirm password -->
        <input type="password"
               class="txt-confirm-password"
               formControlName="confirm-password"
               (keyup)="changeValuePassword()" required>
        <label class="lbl-confirm-password">Confirm password</label>
        <span *ngIf="isInvalidCamp('confirm-password')">Confirm your password! 🤐</span>
        <span *ngIf="!arePasswordsTheSame">The passwords aren't the same! 🤔</span>

        <!-- Submit -->
        <button class="btn btn-primary"
                type="submit"
                [disabled]="isCreating">Sign up <i class="fa-solid fa-arrow-right"></i></button>
      </form>
      <p>Already have an account? <a routerLink="/auth/login">Sign in</a></p>
    </div>

  </div>

</div>

<div *ngIf="isCreating"
      class="loading">
    <div class="content">
      <i class="fas fa-spinner"></i>
    </div>
</div>

<div class="alert alert-success alert-user-created"
     *ngIf="canShowCreated">User created successfully! <a routerLink="/auth/login">Sign in</a></div>
