
<div class="container">

  <div class="box">

    <div class="title">
      <div class="points">
          <div class="point-red point"
               routerLink="/">
            <i class="fa-solid fa-x"></i>
          </div>
          <div class="point-yellow point"></div>
          <div class="point-green point"></div>
      </div>
      <p routerLink="/">Active Time</p>
    </div>

    <div class="content">
      <h5>Active Time - Register</h5>
      <!-- Form -->
      <form class="box-form">
        <h5>Create an account</h5>
        <!-- Username -->
        <input type="text"
               class="txt-username" required>
        <label class="lbl-username">Username</label>
        <span>What's your username?</span>

        <!-- Password -->
        <input type="password"
               class="txt-password" required>
        <label class="lbl-password">Password</label>
        <span>What's your password?</span>

        <!-- Confirm password -->
        <input type="password"
               class="txt-confirm-password" required>
        <label class="lbl-confirm-password">Confirm password</label>
        <span>Confirm your password!</span>

        <!-- Submit -->
        <button class="btn btn-warning"
                type="submit">Registrar</button>
      </form>
      <p>Alredy have an account? <a>Sign in</a></p>
    </div>

  </div>

</div>
