.container-register {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  align-items: center;
}

.box {
  width: 550px;
  margin: 0 auto;
  height: 650px;
  background: #000;
  margin-top: 40px;
  margin-bottom: 100px;
  box-shadow: 0px 0px 50px #000;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  border: 1px solid #ccc;
}

.box .title {
  height: 50px;
  border-bottom: 1px solid #1E1E1E;
  display: flex;
  -webkit-border-radius: 12px 12px 0px 0px;
  -moz-border-radius: 12px 12px 0px 0px;
  -ms-border-radius: 12px 12px 0px 0px;
  -o-border-radius: 12px 12px 0px 0px;
  border-radius: 12px 12px 0px 0px;
}

.box .title .points {
  width: 90px;
  height: 100%;
  padding-left: 5px;
  display: flex;
  padding-top: 15px;
  justify-content: space-around;
  -webkit-border-radius: 12px 0px 0px 0px;
  -moz-border-radius: 12px 0px 0px 0px;
  -ms-border-radius: 12px 0px 0px 0px;
  -o-border-radius: 12px 0px 0px 0px;
  border-radius: 12px 0px 0px 0px;
}

.box .title .points .point {
  width: 18px;
  height: 18px;
  border: 1px solid #1E1E1E;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}

.box .title .points .point-red {
  background-color: #b32422;
  cursor: pointer;
}

.box .title .points .point-red i {
  display: block;
  font-size: 11px;
  font-weight: bold;
  padding-top: 3px;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}

.box .title .points .point-red:hover {
  background-color: #b32422;
}

.box .title .points .point-red:hover i {
  opacity: 1;
}

.box .title .points .point-green {
  background-color: #34D42C;
}

.box .title .points .point-yellow {
  background-color: #F2B938;
}

.box .title p {
  display: block;
  line-height: 50px;
  color: #ccc;
  cursor: pointer;
  margin-left: 140px;
  font-family: "Hellix-SemiBold", sans-serif;
  font-size: 18px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

.box .title p:hover {
  color: #fff;
}

.box .content h3 {
  text-align: center;
  color: #fff;
  font-family: "Hellix-SemiBold", sans-serif;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.box .content .box-form {
  width: 88%;
  margin: 0 auto;
  margin-top: 20px;
}

.box .content .box-form h5 {
  color: rgb(226, 226, 226);
  font-family: "Hellix-SemiBold", sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
}

.box .content .box-form .txt-username,
.box .content .box-form .txt-password,
.box .content .box-form .txt-confirm-password {
  position: relative;
  z-index: 3;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 60px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: transparent;
  outline: 0;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  color: #fff;
  font-family: "Hellix-Regular", sans-serif;
  font-size: 17px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 20px;
  padding-top: 22px;
}

.box .content .box-form .txt-username:focus,
.box .content .box-form .txt-password:focus,
.box .content .box-form .txt-confirm-password:focus {
  border-width: 2px;
  border-style: solid;
  border-color: #6680FF;
}

.box .content .box-form .txt-username:valid+.lbl-username,
.box .content .box-form .txt-password:valid+.lbl-password,
.box .content .box-form .txt-confirm-password:valid+.lbl-confirm-password {
  margin-top: -51px;
  font-size: 14px;
  color: #fff;
}

.box .content .box-form .txt-username:focus+.lbl-username,
.box .content .box-form .txt-password:focus+.lbl-password,
.box .content .box-form .txt-confirm-password:focus+.lbl-confirm-password {
  margin-top: -51px;
  font-size: 14px;
  color: #6680FF;
}

.box .content .box-form .lbl-username,
.box .content .box-form .lbl-password,
.box .content .box-form .lbl-confirm-password {
  position: absolute;
  color: rgb(200, 200, 200);
  font-family: "Hellix-Regular", sans-serif;
  font-size: 18px;
  margin-top: -42px;
  margin-left: 15px;
  z-index: 2;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.box .content .box-form .txt-password, .box .content .box-form .txt-confirm-password {
  margin-top: 40px;
}

.box .content .box-form span {
  position: absolute;
  margin-top: 2px;
  margin-left: 2px;
  color: #e6403e;
  font-size: 14px;
  font-family: "Hellix-Regular", sans-serif;
}

.box .content .box-form button {
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 30px;
  font-family: "Hellix-Regular", sans-serif;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

.box .content .box-form button:hover {
  box-shadow: 0px 0px 10px #6680FF;
}

.box .content p {
  color: #fff;
  font-family: "Hellix-Regular", sans-serif;
  text-align: center;
}

.box .content p a {
  font-family: "Hellix-SemiBold", sans-serif;
  color: #6680FF;
  cursor: pointer;
  text-decoration: none;
}

.box .content p a:hover {
  text-decoration: underline;
}

.alert-user-created {
  position: fixed;
  width: 400px;
  top: 0;
  left: 50%;
  margin-left: -200px;
  text-align: center;
}

@media(max-width: 600px) {
  .box {
    width: 90%;
    height: auto;
    padding-bottom: 25px;
  }

  .box .title p {
    margin-left: 0;
    position: relative;
    left: 50%;
    margin-left: -140px;
  }
}

@media(max-width: 500px) {
  .box .content .box-form span {
    font-size: 10px;
  }

  .alert-user-created {
    width: 90%;
    margin-left: -45%;
  }
}

@media(max-width: 400px) {
  .box .content h3 {
    font-size: 25px;
  }

  .box .content>p {
    width: 90%;
    margin: 0 auto;
  }

  .box .title p {
    width: 100%;
    position: relative;
    margin-left: 0;
    left: 0;
    text-align: end;
    margin-right: 25px;
  }
}


@media(max-width: 380px) {
  .box .content>p>a {
    margin-left: 5px;
  }

  .box .content>p {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .box .title .points .point {
    width: 16px;
    height: 16px;
  }

  .box .title .points .point i {
    padding-top: 1.5px;
  }
}