<div class="container-about">
  <div class="content-about">
    <h3>About us</h3>
    <div class="content-description">
      <p>Active Time es una aplicación que permite organizar tus tareas de una manera simple y sencilla.
         Esta aplicación fue creada por estudiantes de la Universidad Católica de Colombia con el fin de evitar la procrastinación durante tiempos de pandemia.
      </p>
    </div>
  </div>
</div>


<!-- Button back -->

<button class="btn btn-primary btn-back"
        routerLink="/">
  Volver
  <i class="fas fa-house"></i>
</button>
