<section class="prices-component">
    <div class="content">
      <div class="price-1 price lateral">
        <h6>Basic</h6>
        <hr>
        <p>This is the basic plan for new users.</p>
        
        <div class="price-info">
          <h5>Free</h5>
        </div>
        <ul class="list-including">
          <li><i class="fa-solid fa-check check"></i> 10 tasks</li>
          <li><i class="fa-solid fa-check check"></i> Edit Tasks</li>
          <li><i class="fa-solid fa-x denied"></i> Share tasks</li>
          <li><i class="fa-solid fa-x denied"></i> Create projects</li>
          <li><i class="fa-solid fa-x denied"></i> Connect with people</li>
        </ul>
        <button type="button" 
                class="sign-up" 
                routerLink="/auth/register">Sign up</button>
      </div>
      <div class="price-2 price lateral">
        <div class="top">
          <p>Most Popular</p>
        </div>
        <h6>Standard</h6>
        <hr>
        <p>This is the recommended plan for you.</p>
        <div class="price-info">
          <h5>$7</h5>
          <p>per month</p>
        </div>
        <ul class="list-including">
          <li><i class="fa-solid fa-check check"></i> Unlimited tasks</li>
          <li><i class="fa-solid fa-check check"></i> Edit Tasks</li>
          <li><i class="fa-solid fa-check check"></i> Share 100 tasks</li>
          <li><i class="fa-solid fa-check check"></i> Create one project</li>
          <li><i class="fa-solid fa-x denied"></i> Connect with people</li>
        </ul>
        <button type="button" 
                class="sign-up" 
                routerLink="/auth/register">Sign up</button>
      </div>
      <div class="price-3 price lateral">
        <h6>Pro</h6>
        <hr>
        <p>This is the biggest plan for you.</p>
        <div class="price-info">
          <h5>$10</h5>
          <p>per month</p>
        </div>
        <ul class="list-including">
          <li><i class="fa-solid fa-check check"></i> Unlimited tasks</li>
          <li><i class="fa-solid fa-check check"></i> Edit Tasks</li>
          <li><i class="fa-solid fa-check check"></i> Share tasks</li>
          <li><i class="fa-solid fa-check check"></i> Create projects</li>
          <li><i class="fa-solid fa-check check"></i> Connect with people</li>
        </ul>
        <button type="button" 
                class="sign-up" 
                routerLink="/auth/register">Sign up</button>
      </div>
    </div>
</section>