.home-page-container {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.home-page-container .main-content {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 80px;
  padding-bottom: 20px;
}

.home-page-container .main-content .text,
.home-page-container .main-content .images {
  width: 700px;
}

.home-page-container .main-content .text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.home-page-container .main-content .text h1 {
  font-size: 30px;
  font-family: 'Sora-Regular', sans-serif;
  color: #ccc;
  margin-left: 30%;
  margin-bottom: 20px;
}

.home-page-container .main-content .text h4 {
  color: #fff;
  font-family: 'Sora-Bold', sans-serif;
  font-size: 50px;
  width: 500px;
  margin-left: 30%;
  margin-bottom: 15px;
}

.home-page-container .main-content .text h5 {
  font-size: 16px;
  color: #ccc;
  font-family: 'Sora-Regular', sans-serif;
  margin-left: 30%;
  margin-bottom: 40px;
}

.home-page-container .main-content .text a {
  display: block;
  padding-bottom: 2px;
  color: #6680FF;
  font-family: 'Sora-SemiBold', sans-serif;
  border-bottom: 3px solid #6680FF;
  text-decoration: none;
  font-size: 30px;
  transition: all 300ms;
  width: max-content;
  margin-left: 30%;
}

.home-page-container .main-content .text a:hover {
  animation: shake 2s infinite linear;
}

.home-page-container .main-content .images {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.home-page-container .main-content .images img {
  display: block;
}

.home-page-container .main-content .images .first-image {
  width: 300px;
  border-radius: 10px;
  margin-right: 15%;
}

.home-page-container .main-content .images .second-image {
  width: 400px;
  border-radius: 10px;
  margin-right: 15%;
  margin-bottom: 10px;
}

@keyframes shake {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.purple {
  color: #6680FF;
}


/* Responsive */

@media(max-width: 1624px) {
  .home-page-container {
    justify-content: space-evenly;
  }

  .home-page-container .main-content {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 80px;
    justify-content: space-evenly;
  }

  .home-page-container .main-content .images .first-image {
    margin-right: 0;
  }

  .home-page-container .main-content .images .second-image {
    margin-right: 0;
  }

  .home-page-container .main-content .text {
    width: 500px;
  }

  .home-page-container .main-content .images {
    width: 410px;
  }

  .home-page-container .main-content .text h1,
  .home-page-container .main-content .text h4,
  .home-page-container .main-content .text h5,
  .home-page-container .main-content .text a {
    margin-left: 0px;
  }
}

@media(max-width: 1024px) {
  .home-page-container .main-content {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    flex-basis: min-content;
  }

  .home-page-container .main-content .images {
    order: 1;
    align-items: center;
  }

  .home-page-container .main-content .text {
    order: 2;
  }

  .home-page-container .main-content .text h5 {
    margin-bottom: 15px;
  }

  .home-page-container .main-content .text a {
    margin: 0px auto;
  }

  .home-page-container .main-content .images .first-image {
    display: none;
  }

  .home-page-container .main-content .images .second-image {
    width: 200px;
  }
}

@media(max-width: 614px) {
  .home-page-container .main-content .text {
    width: 90%;
    margin: 0 auto;
  }

  .home-page-container .main-content .text h4 {
    font-size: 50px;
    width: 90%;
    margin: 0px auto;
  }
}