<!-- TODO: Fixed height responsive -->
<section class="home-page-container">
  <div class="main-content">
    <div class="text animate__animated animate__fadeIn">
      <h1>Active <span class="purple">Time</span></h1>
      <h4>Making your <span class="purple">tasks</span> easy to organize for free</h4>
      <h5>It is a free project by Sebastian Carrillo.</h5>
      <a routerLink="/auth/login" 
         rel="noopener noreferrer">
         Login 
         <i class="fa fa-arrow-right"></i>
      </a>
    </div>
    <div class="images animate__animated animate__fadeIn">
      <img src="../../assets/imgs/image-lobby2.jpg" 
           class="second-image" 
           alt="Image Tasks one">
      <img src="../../assets/imgs/image-lobby1.jpg" 
           class="first-image" 
           alt="Image Tasks two">
    </div>
  </div>
</section>
