<div class="container-main">
  <div class="content-add-task">

    <div class="title">
      <div class="points">
        <div class="point-red point"
             routerLink="/tasks/menu">
          <i class="fa-solid fa-x"></i>
        </div>
        <div class="point-yellow point"></div>
        <div class="point-green point"></div>
      </div>
      <p routerLink="/tasks/menu">Active Time</p>
    </div>

    <div class="content">
      <h3>Add Tasks</h3>
      <form (ngSubmit)="addTask()"
            autocomplete="off"
            [formGroup]="miFormulario">
          <!-- Task name  -->
          <input type="text"
          formControlName="task-name"
          (keypress)="writing()"
          class="txt-name"
          required>
          <label class="title-label lbl-name">Task name</label>
          
          <!-- Task Description -->
          <input type="text"
          formControlName="task-description"
          (keypress)="writing()"
          class="txt-description"
          required>
          <label class="lbl-description">Task Description</label>

          <!-- Priority -->
          <label class="lbl-priority">Priority</label>
          <select name="select"
                  formControlName="priority"
                  class="select-priority">
            <option value="High" class="option1 option">High</option>
            <option value="Medium" class="option2 option" selected>Medium</option>
            <option value="Low" class="option3 option">Low</option>
          </select>

          <!-- Initial Date-->
          <label class="lbl-initial-date">Initial Date</label>
          <input type="date"
                 formControlName="initial-date"
                 [min]="getMinDate()"
                 class="input-date">

          <!-- Final Date -->
          <label class="lbl-final-date">Final Date</label>
          <input type="date"
                 formControlName="final-date"
                 [min]="getMinDate()"
                 class="input-date">

          <!-- Buttons -->
          <div class="buttons">
            <button class="btn btn-danger"
                    type="button"
                    routerLink="/tasks/menu">Cancel</button>
            <button class="btn btn-primary" type="button"
                   (click)="clearForm()">Clear</button>
            <button class="btn btn-success" type="submit"
                   >Add task</button>
          </div>

      </form>
    </div>
  </div>
</div>

<div *ngIf="!isValidForm"
     class="alert alert-danger"
     id="message-alert">
  Fill the inputs correctly.
</div>

<div *ngIf="isCreating"
      class="loading">
    <div class="content">
      <i class="fas fa-spinner"></i>
    </div>
</div>
