.container-main {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-main .content-add-task {
  width: 600px;
  height: auto;
  background-color: #000;
  box-shadow: 0px 0px 30px #000;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid #ccc;
}

.container-main .content-add-task .title {
  height: 50px;
  border-bottom: 1px solid #1E1E1E;
  display: flex;
  -webkit-border-radius: 12px 12px 0px 0px;
  -moz-border-radius: 12px 12px 0px 0px;
  -ms-border-radius: 12px 12px 0px 0px;
  -o-border-radius: 12px 12px 0px 0px;
  border-radius: 12px 12px 0px 0px;
}

.container-main .content-add-task .title .points {
  width: 90px;
  height: 100%;
  padding-left: 5px;
  display: flex;
  padding-top: 15px;
  justify-content: space-around;
  -webkit-border-radius: 12px 0px 0px 0px;
  -moz-border-radius: 12px 0px 0px 0px;
  -ms-border-radius: 12px 0px 0px 0px;
  -o-border-radius: 12px 0px 0px 0px;
  border-radius: 12px 0px 0px 0px;
}

.container-main .content-add-task .title .points .point {
  width: 18px;
  height: 18px;
  border: 1px solid #1E1E1E;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}

.container-main .content-add-task .title .points .point-red {
  background-color: #b32422;
  cursor: pointer;
}

.container-main .content-add-task .title .points .point-red i {
  display: block;
  font-size: 11px;
  font-weight: bold;
  padding-top: 3px;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}

.container-main .content-add-task .title .points .point-red:hover {
  background-color: #e6403e;
}

.container-main .content-add-task .title .points .point-red:hover i {
  opacity: 1;
}

.container-main .content-add-task .title .points .point-green {
  background-color: #34D42C;
}

.container-main .content-add-task .title .points .point-yellow {
  background-color: #F2B938;
}

.container-main .content-add-task .title p {
  display: block;
  line-height: 50px;
  color: #ccc;
  cursor: pointer;
  margin-left: 165px;
  font-family: "Hellix-SemiBold", sans-serif;
  font-size: 18px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

.container-main .content-add-task .title p:hover {
  color: #fff;
}

.container-main .content form label,
.container-main .content form input {
  display: block;
}

.container-main .content h3 {
  color: #fff;
  text-align: center;
  font-size: 35px;
  margin-top: 25px;
  font-family: "Hellix-SemiBold", sans-serif;
  margin-bottom: 25px;
}

.content-add-task form .txt-name,
.content-add-task form .txt-description {
  position: relative;
  z-index: 3;
  box-sizing: border-box;
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 60px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: transparent;
  outline: 0;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  color: #fff;
  font-family: "Hellix-Regular", "sans-serif";
  font-size: 17px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 20px;
  padding-top: 22px;
}

.content-add-task form .txt-name:focus,
.content-add-task form .txt-description:focus {
  border-width: 2px;
  border-style: solid;
  border-color: #6680FF;
}

.content-add-task form .lbl-name,
.content-add-task form .lbl-description {
  position: absolute;
  color: rgb(200, 200, 200);
  font-family: "Hellix-Regular", sans-serif;
  font-size: 18px;
  margin-top: -40px;
  margin-left: 75px;
  z-index: 2;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.content-add-task form .lbl-priority,
.content-add-task form .lbl-initial-date,
.content-add-task form .lbl-final-date {
  text-align: center;
  color: #6680FF;
  font-family: 'Hellix-SemiBold', sans-serif;
  margin-top: 20px;
  font-size: 20px;
}

.content-add-task form .txt-name:valid+.lbl-name,
.content-add-task form .txt-description:valid+.lbl-description {
  margin-top: -51px;
  font-size: 14px;
  color: #fff;
}

.content-add-task form .txt-name:focus+.lbl-name,
.content-add-task form .txt-description:focus+.lbl-description {
  margin-top: -51px;
  font-size: 14px;
  color: #6680FF;
}

.content-add-task form .txt-description {
  margin-top: 20px;
}

.content-add-task form .select-priority,
.content-add-task form .input-date {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
  height: 45px;
  text-align: center;
  font-family: 'Hellix-SemiBold', sans-serif;
  font-size: 18px;
  background-color: transparent;
  color: #fff;
  outline: none;
  border: 2px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  line-height: 45px;
}

.content-add-task form .select-priority .option {
  background-color: #000;
}

.content-add-task form .select-priority .option1 {
  color: rgb(129, 19, 19);
}

.content-add-task form .select-priority .option2 {
  color: rgb(255, 166, 1);
}

.content-add-task form .select-priority .option3 {
  color: rgb(23, 163, 23);
}

.container-main .content form .buttons {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}


.content-add-task form .input-date::-webkit-calendar-picker-indicator {
  background: url('../../../assets/imgs/calendario.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-right: 10px;
}

#message-alert {
  display: block;
  position: fixed;
  width: 220px;
  top: 0;
  left: 50%;
  margin-left: -110px;
  text-align: center;
  font-family: "Hellix-SemiBold", sans-serif;
  z-index: 100;
}

@media(max-width: 700px) {
  .container-main .content-add-task {
    width: 90%;
  }

  /* Change margin labels */

  .content-add-task form .lbl-name,
  .content-add-task form .lbl-description {
    margin-left: 12%;
  }

  .container-main .content-add-task .title p {
    margin-left: 0;
    position: relative;
    left: 50%;
    margin-left: -140px;
  }
}

@media(max-width: 600px) {

  .content-add-task form .input-date,
  .content-add-task form .select-priority {
    width: 250px;
  }

  .content-add-task form .buttons {
    width: 90% !important;
    margin: 0 auto;
    justify-content: center !important;
  }

  .content-add-task form .buttons button {
    margin: 10px 10px;
  }
}

@media(max-width: 400px) {
  .container-main .content-add-task h3 {
    font-size: 25px;
  }

  .container-main .content-add-task .title>p {
    text-align: end;
    left: 0;
    margin-left: 0;
    width: 90%;
    margin-right: 25px;
  }

  .container-main .content-add-task .title .points .point {
    width: 16px;
    height: 16px;
  }
}

@media(max-width: 320px) {

  .content-add-task form .input-date,
  .content-add-task form .select-priority {
    width: 90%;
  }
}