<div class="container-main">
  <div class="content-add-task">

    <div class="title">
      <div class="points">
        <div class="point-red point"
             routerLink="/tasks/menu">
          <i class="fa-solid fa-x"></i>
        </div>
        <div class="point-yellow point"></div>
        <div class="point-green point"></div>
      </div>
      <p routerLink="/tasks/menu">Active Time</p>
    </div>

    <div class="content">
      <h3>Add Tasks</h3>
      <form (ngSubmit)="addTask()"
            autocomplete="off"
            [formGroup]="miFormulario">
          <!-- Task name  -->
          <label class="title-label">Task name</label>
          <input type="text"
                 formControlName="task-name"
                 (keypress)="writing()"
                 placeholder="Play League Of Legends...">


          <!-- Task Description -->
          <label>Task Description</label>
          <input type="text"
                 formControlName="task-description"
                 (keypress)="writing()"
                 placeholder="Play League of Legends at 5:30 pm ...">

          <!-- Priority -->
          <label>Priority</label>
          <select name="select"
                  formControlName="priority">
            <option value="High" class="option1">High</option>
            <option value="Medium" class="option2" selected>Medium</option>
            <option value="Low" class="option3">Low</option>
          </select>

          <!-- Initial Date-->
          <label>Initial Date</label>
          <input type="date"
                 formControlName="initial-date"
                 [min]="getMinDate()">

          <!-- Final Date -->
          <label>Final Date</label>
          <input type="date"
                 formControlName="final-date"
                 [min]="getMinDate()">

          <!-- Buttons -->
          <div class="buttons">
            <button class="btn btn-danger"
                    type="button"
                    routerLink="/tasks/menu">Cancel</button>
            <button class="btn btn-primary" type="button"
                   (click)="clearForm()">Clear</button>
            <button class="btn btn-success" type="submit"
                   >Add task</button>
          </div>

      </form>
    </div>
  </div>
</div>

<div *ngIf="!isValidForm"
     class="alert alert-danger"
     id="message-alert">
  Fill the inputs correctly.
</div>

<div *ngIf="isCreating"
      class="loading">
    <div class="content">
      <i class="fas fa-spinner"></i>
    </div>
</div>
