.container-prices {
  width: 100vw;
  height: 100vh;
  padding-top: 120px;
}

.container-prices h2 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  margin-bottom: 70px;
}

.container-prices .container-box-prices {
  width: 80%;
  margin: 0px auto;
  height: auto;
}

.container-prices .container-box-prices .box-prices {
  display: flex;
  align-items: center;
  width: max-content;
  margin: 0px auto;
}

.container-prices .container-box-prices .box-prices .price-one,
.container-prices .container-box-prices .box-prices .price-three {
  width: 400px;
  height: 500px;
  background-color: #000;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
/* Shadows */
.container-prices .container-box-prices .box-prices .price-one {
  box-shadow: -14px 0px 40px #000;
}
.container-prices .container-box-prices .box-prices .price-three {
  box-shadow: 14px 0px 40px #000;
}
.container-prices .container-box-prices .box-prices .price-two {
  position: relative;
  z-index: 3;
  box-shadow: 0px 10px 10px #fff, 0px -10px 10px #fff;
}

.container-prices .container-box-prices .box-prices .price-two {
  width: 400px;
  height: 600px;
  background-color: #ccc;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}


.info {
  width: 85%;
  margin: 0px auto;
  height: 100%;
  padding-top: 30px;
}

.info h4 {
  text-align: center;
}
.info .title-professional {
  margin-top: 50px;
}
.info .title-black, .info .hr-black {
  color: #000;
}

.info .title-white {
  color: #fff;
}

.info .price {
  text-align: center;
  font-size: 70px;
  margin-bottom: 50px;
}
.info .hr-white {
  color: #fff;
}

.info hr {
  height: 3px;
}

.info h6 {
  text-align: center;
  font-size: 21px;
}

.info button {
  width: 100%;
  margin-top: 20px;
}
