<div class="container-prices">
  <h2>Our Pricing</h2>
  <div class="container-box-prices">
    <div class="box-prices">
      <div class="price-one">
        <div class="info">
          <h4 class="title title-white">Basic</h4>
          <h3 class="price title-white">$19.99</h3>
          <hr class="hr-white">
          <!-- Plan -->
          <h6 class="title-white">200 Tasks</h6>
          <hr class="title-white">
          <h6 class="title-white">1 User Allowed</h6>
          <hr class="title-white">
          <h6 class="title-white">Share Maximum 3 Tasks</h6>
          <hr class="title-white">
          <button class="btn btn-warning">Learn more</button>
        </div>
      </div>
      <div class="price-two">
        <div class="info title-black">
          <h4 class="title title-professional">Professional</h4>
          <h3 class="price">$24.99</h3>
          <hr class="hr-black">
          <!-- Plan -->
          <h6 class="title-black">400 Tasks</h6>
          <hr class="title-black">
          <h6 class="title-black">5 User Allowed</h6>
          <hr class="title-black">
          <h6 class="title-black">Share Maximum 200 Tasks</h6>
          <hr class="title-black">
          <button class="btn btn-secondary">Learn more</button>
        </div>
      </div>
      <div class="price-three">
        <div class="info">
          <h4 class="title title-white">Master</h4>
          <h3 class="price title-white">$39.99</h3>
          <hr class="hr-white">
          <!-- Plan -->
          <h6 class="title-white">Unlimited Tasks</h6>
          <hr class="title-white">
          <h6 class="title-white">10 User Allowed</h6>
          <hr class="title-white">
          <h6 class="title-white">Unlimited Share Tasks</h6>
          <hr class="title-white">
          <button class="btn btn-warning">Learn more</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Button back -->

<button class="btn btn-primary btn-back"
        routerLink="/">
  Volver
  <i class="fas fa-house"></i>
</button>
