
.loading {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(3, 3, 3, 0.55);
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.loading .content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading .content i {
  text-align: center;
  font-size: 100px;
  color: rgb(255, 166, 0);
  -webkit-animation: loading infinite 4s linear;
  animation: loading infinite 4s linear;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}