.container-delete-tasks h3 {
  text-align: center;
  font-family: 'Sora-SemiBold', sans-serif;
  color: #6680FF;
  font-size: 45px;
  border-bottom: 3px solid #6680FF;
  width: max-content;
  margin: 0 auto;
  margin-top: 50px;
}

.container-delete-tasks .title>p {
  text-align: center;
  color: #ccc;
  margin-top: 20px;
  font-size: 20px;
  font-family: 'Sora-SemiBold', sans-serif;
}

.container-tasks {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.container-tasks .task {
  width: 350px;
  height: min-content;
  border: 2px solid #ccc;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
  padding: 15px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

.container-tasks .task h2 {
  color: #fff;
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
  font-family: 'Sora-SemiBold', sans-serif;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

.container-tasks .task>p {
  color: #ccc;
  font-family: 'Sora-Regular', sans-serif;
  margin-top: 10px;
}

.container-tasks .task .priority,
.container-tasks .task .start-date,
.container-tasks .task .end-date {
  display: flex;
  color: #fff;
  font-family: 'Sora-SemiBold', sans-serif;
  align-items: center;
}

.container-tasks .task .priority p,
.container-tasks .task .start-date p,
.container-tasks .task .end-date p {
  margin-right: 5px;
  margin-bottom: 0;
}

.container-tasks .task .priority span,
.container-tasks .task .start-date span,
.container-tasks .task .end-date span {
  padding: 4px 10px 4px 10px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
}

.container-tasks .task .priority .Medium {
  background-color: rgb(173, 113, 1);
}

.container-tasks .task .priority .High {
  background-color: rgb(147, 15, 15);
}

.container-tasks .task .priority .Low {
  background-color: rgb(0, 128, 0);
}

.container-tasks .task .start-date span {
  background-color: rgba(20, 92, 20, 0.634);
}

.container-tasks .task .end-date span {
  background-color: rgba(124, 22, 22, 0.69);
}

.container-tasks .task h4 {
  text-align: center;
  color: rgb(255, 166, 0);
}

.container-tasks .priority,
.container-tasks .start-date,
.container-tasks .end-date {
  margin-bottom: 15px;
}

.container-tasks .task:hover {
  border: 2px solid rgb(255, 166, 0);
  cursor: pointer;
  -webkit-transform: scale(1.02, 1.02);
  -moz-transform: scale(1.02, 1.02);
  -ms-transform: scale(1.02, 1.02);
  -o-transform: scale(1.02, 1.02);
  transform: scale(1.02, 1.02);
}

.container-tasks .task:hover {
  border: 2px solid #6680FF;
  -webkit-transform: scale(1.02, 1.02);
  -moz-transform: scale(1.02, 1.02);
  -ms-transform: scale(1.02, 1.02);
  -o-transform: scale(1.02, 1.02);
  transform: scale(1.02, 1.02);
}

.container-tasks .task:hover>h2 {
  color: #6680FF;
}


.loading {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(3, 3, 3, 0.55);
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.loading .content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading .content i {
  text-align: center;
  font-size: 100px;
  color: rgb(255, 166, 0);
  -webkit-animation: loading infinite 4s linear;
  animation: loading infinite 4s linear;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

#tasks-completed {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

#tasks-completed p {
  text-align: center;
  font-size: 25px;
  font-family: 'Sora-Regular', sans-serif;
  color: #fff;
}

#tasks-completed img {
  display: block;
  width: 200px;
  margin: 0 auto;
}

#tasks-completed button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

#button-back {
  position: fixed;
  top: 20px;
  right: 20px;
}

@media(max-width: 550px) {

  #tasks-pending p,
  #tasks-completed p {
    font-size: 20px;
  }
}

@media(max-width: 450px) {

  #tasks-pending p,
  #tasks-completed p {
    font-size: 18px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
  }
}

@media(max-width: 400px) {
  .title-list-tasks h3 {
    font-size: 35px;
  }

  .container-delete-tasks .title>p {
    font-size: 18px;
  }
}

@media(max-width: 500px) {
  .container-tasks .task {
    width: 100%;
  }

  .container-delete-tasks h3 {
    font-size: 35px;
  }

  .container-delete-tasks>p {
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
  }

  .container-tasks .task h2 {
    font-size: 22px;
  }
}