<section class="container-tasks">
  <div class="title">
    <h3>Update Tasks</h3>
    <p>Click on any task to start editing.</p>
  </div>
  <!-- Todas las tareas -->
  <article class="container-update-tasks">
    <div class="all-tasks box">
      <div class="tasks"
           *ngIf="tasks">
        <h3>These are your tasks:</h3>
        <button *ngFor="let task of tasks; let i = index"
                type="button"
                (click)="changeDataTask(i)">{{ task.name }}</button>
      </div>
    </div>
    <!-- Caja para editar -->
    <div class="edit-task box">
      <div class="box-update">
        <form id="form-update-task"
              (ngSubmit)="updateTask()"
              autocomplete="off"
              [formGroup]="miFormulario">
          <p>Make sure all the fields are correctly fill.</p>
          <label class="title-label">Task name</label>
          <input type="text" 
                 formControlName="name" 
                 (keypress)="writing()" 
                 placeholder="Play League Of Legends..."
                 [value]="currentTask['name']">
                    
          <!-- Task Description -->
          <label>Task Description</label>
          <textarea formControlName="description" (keypress)="writing()"
            placeholder="Play League of Legends at 5:30 pm ..." cols="40" rows="3" [value]="currentTask['description']"></textarea>
          
          <!-- Priority -->
          <label>Priority</label>
          <select name="select" formControlName="priority">
            <option value="High" class="option1">High</option>
            <option value="Medium" class="option2" selected>Medium</option>
            <option value="Low" class="option3">Low</option>
          </select>
          
          <!-- Initial Date-->
          <label>Initial Date</label>
          <input type="date" 
                 formControlName="initialDate" 
                 [min]="getMinDate()" 
                 [value]="currentTask['initialDate']">
          
          <!-- Final Date -->
          <label>Final Date</label>
          <input type="date" formControlName="finalDate" [min]="getMinDate()" [value]="currentTask['finalDate']">
          <div class="buttons">
            <button type="button" [disabled]="!isThereATask" class="btn btn-danger" (click)="cancelUpdate()">Cancel</button>
            <button type="submit" 
                    [disabled]="!miFormulario.valid" 
                    class="btn btn-warning">Update</button>
          </div>
        </form>
      </div>
    </div>

  </article>



</section>


<div *ngIf="isLoading" class="loading">
  <div class="content">
    <i class="fas fa-spinner"></i>
  </div>
</div>

<button type="button" id="button-back" class="btn btn-secondary" routerLink="tasks/menu">
  Volver
  <i class="fa-solid fa-rotate-left"></i>
</button>