/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-color: #0B0B10;
}

@font-face {
  font-family: "Hellix-SemiBold";
  src: url("./assets/fonts/Hellix-SemiBold.woff2");
}

@font-face {
  font-family: "Hellix-Regular";
  src: url("./assets/fonts/Hellix-Regular.woff2");
}

@font-face {
  font-family: "Sora-SemiBold";
  src: url("./assets/fonts/Sora-SemiBold.ttf");
}

@font-face {
  font-family: "Sora-Regular";
  src: url("./assets/fonts/Sora-Regular.ttf");
}

@font-face {
  font-family: "Sora-Bold";
  src: url("./assets/fonts/Sora-Bold.ttf");
}
