<div class="content">
  <!--NAVBAR-->
  <div class="row navbar">
    <div class="logo col-2 text-white my-1">
      <img src="../../assets/favicon/android-chrome-256x256.png">
      <p>Active Time</p>
    </div>
    <nav class="col-10 text-white">
      <ul>
        <li class="link">
          About
        </li>
        <li class="link">
          Prices
        </li>
      </ul>
      <!-- Button Register -->
      <button class="btn btn-primary" routerLink="auth/login">
        Sign up
        <i class="fa-solid fa-user-plus"></i>
      </button>
      <!-- Button Login -->
      <button class="btn btn-warning" routerLink="auth/login">
        Sign In
        <i class="fa-solid fa-user mx-1"></i>
      </button>
    </nav>
  </div>
  <!-- END NAVBAR-->

  <!-- MAIN PAGE -->
  <div class="row main-page">
    <!-- TODO: Revisar este espacio-->
    <div class="col-1"></div>

    <div class="title col-4 mt-5">
      <h1>Active Time</h1>
      <hr>
      <h2>Gestiona tus tareas <br>eficientemente<br> y a la mano.</h2>

    </div>

  </div>
  <!-- END PAGE -->
</div>
