
@font-face {
  font-family: "Hellix-SemiBold";
  src: url("../../assets/fonts/Hellix-SemiBold.woff2");
}

.main-page {
  min-height: 500px;
  height: 90vh;
  align-items: center;
}
.main-page  .title {

}
.main-page .image-main {
  display: flex;
  justify-content: center;

}
.main-page  .title h2 {
  color: #ccc;
  font-family: "Hellix-SemiBold";
  font-size: 55px;
}

.main-page .title h1 {
  font-family: "Hellix-SemiBold";
  color: darkorange;
  font-size: 70px;
}
.main-page .title hr {
  color: orange;
  height: 14px;
  width: 120px;
}
