.container-about {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-about .content-about {
  width: max-content;
  height: auto;
  margin-bottom: 40px;
}

.container-about .content-about h3 {
  font-size: 60px;
  color: #fff;
  text-align: center;
  font-family: "Sora-SemiBold", sans-serif;
  margin-top: 40px;
}

.container-about .content-about .content-description {
  width: 800px;
  margin: 0 auto;
  height: auto;
  padding: 20px;
  background-color: #000;
  margin-top: 80px;
  border: 2px solid #ccc;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  margin-bottom: 70px;
}

.container-about .content-about .content-description p {
  color: #fff;
  font-size: 26px;
  font-family: "Hellix-Regular", sans-serif;
  text-align: center;
}

@media(max-width: 950px) {
  .container-about .content-about {
    width: 90%;
    margin-top: 40px;
  }

  .container-about .content-about .content-description {
    width: 100%;
  }
}

@media(max-width: 800px) {
  .container-about .content-about .content-description {
    margin-top: 60px;
  }
}

@media(max-width: 600px) {
  .container-about .content-about h3 {
    font-size: 45px;
  }
}

@media(max-width: 500px) {
  .container-about .content-about h3 {
    font-size: 50px;
  }

  .container-about .content-about .content-description {
    margin-top: 20px;
  }
}

@media(max-width: 400px) {
  .container-about .content-about h3 {
    font-size: 35px;
  }

  .container-about .content-about .content-description p {
    font-size: 20px;
  }

}

@media(max-width: 338px) {
  .container-about .content-about {
    margin-bottom: 80px;
    margin-top: 40px;
    height: auto;
  }

  .container-about .content-about .content-description {
    margin-bottom: 80px;
  }
}